*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    text-decoration: none;
}
body{
    padding: 4rem;
}
.container{
    width: 40rem;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 3rem;
    border-radius: 2rem;
}
[data-testid="Miko__franco"]{
    /* border: 2px solid red; */
    margin: auto;
    width: fit-content;
    padding: 0.5rem 1rem;
    box-shadow: 5px 6px #eeecec;

    
}
[data-testid="slackDisplayImage"]{
    /* border: 2px solid red; */
    height: 12rem; 
    margin-left: 43%;
    margin-top: 0.5rem;
    width: fit-content;
    border-radius: 50px;
}
.time{
    text-align: center;
    font-size: 1.2rem;
}
[data-testid="currentUTCTime"]{
    color: rgb(11, 81, 81);
}
[data-testid="currentDayOfTheWeek"]{
    border-radius: 15px;
    background-color: #f4f0f0b3;
    margin-top: 5px;
    padding: 5px;


}
.button{
    text-align: center;
    /* border: 2px solid rebeccapurple; */
    margin: auto;
}
@media (max-width: 614px){
    .container{
        width: 90%;
    }

}
